<ng-container *ngIf="projects">

  Text about project groups and what all this is goes here. How they are organized, and why some have
  a lot (30, 32) and some just one - because they are different types of stuff. And that some are cool
  (edisco, orm, playerc), and some are boring (static, cms).
  <br><br>


  <div class="form-row ic4f-h-filter-container">
    <div class="col">
      <div class="form-row">
        <div class="col-sm-3">

          <select class="custom-select" *ngIf="languages" 
                  (change)="filterByGroup($event.target.value)">
            <option selected value="">all project groups</option>
            <option *ngFor="let item of groups" [value]="item._id" [selected]="selectedGroup == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="languages" 
                  (change)="filterByLanguage($event.target.value)">
            <option selected value="">all languages</option>
            <option *ngFor="let item of languages" [value]="item._id" [selected]="selectedLanguage == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="frameworks"
                  (change)="filterByFramework($event.target.value)">
            <option selected value="">all frameworks</option>
            <option  *ngFor="let item of frameworks" [value]="item._id" [selected]="selectedFramework == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="databases"
                  (change)="filterByDatabase($event.target.value)">
            <option selected value="">all databases</option>
            <option  *ngFor="let item of databases" [value]="item._id" [selected]="selectedDatabase == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-light ic4f-reset" (click)="reset()">reset</button>
    </div>
  </div>


  <table class="table table-bordered table-striped ic4f-projects">
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">project</th>
      <th class="text-center">years</th>
      <th class="text-center">description</th>
      <th class="text-center">languages</th>
      <th class="text-center">frameworks</th>
      <th class="text-center">databases</th>
      <th class="text-center">code</th>
    </tr>
    <tr *ngFor="let p of projects; let i=index" id="{{p._id}}">

      <ng-container *ngIf="displayedProjects.indexOf(p._id) == -1">
        <td class="text-center">{{i+1}}</td>
        <td class="cell-project" [innerHtml]="getName(p)"></td>
        <td class="cell-years">{{ p.year_start | yearSpan: p.year_end }}</td>
        <td>
          {{ p.description }}
          <button (click)="showDetail(p._id)" class="btn btn-link">show more</button>
        </td>
        <td [innerHtml]="listLanguages(p)"></td>
        <td class="text-center">{{ listFrameworks(p) }}</td>
        <td class="text-center">{{ listDatabases(p) }}</td>
        <td class="text-center align-middle cell-codelink" [innerHtml]="getCodeLink(p)"></td>
      </ng-container>

      <ng-container *ngIf="displayedProjects.indexOf(p._id) > -1">
        <td class="text-center cell-project-detail-num">{{i+1}}</td>
        <td colspan="7" class="cell-project-detail">
          <app-project-detail></app-project-detail>
        </td>
      </ng-container>

    </tr>
  </table>

</ng-container>
