<ng-container *ngIf="projects">

  <p>This list is approximate. Some projects are tiny, yet delightful is some way (tree traversals in
  Java, publication list generator in Ruby, Vim plugins), others can be large but similar (all the
  content management systems). But the list is representative of what I've built so far.
  </p>


  <div class="form-row ic4f-filter">
    <div class="col">
      <div class="form-row">
        <div class="col-sm-3">

          <select class="custom-select" *ngIf="groups" 
                  (change)="filterByGroup($event.target.value)">
            <option selected value="">all project groups</option>
            <option *ngFor="let item of groups" [value]="item._id" [selected]="selectedGroup == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="languages" 
                  (change)="filterByLanguage($event.target.value)">
            <option selected value="">all languages</option>
            <option *ngFor="let item of languages" [value]="item._id" [selected]="selectedLanguage == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="frameworks"
                  (change)="filterByFramework($event.target.value)">
            <option selected value="">all frameworks</option>
            <option  *ngFor="let item of frameworks" [value]="item._id" [selected]="selectedFramework == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="custom-select" *ngIf="databases"
                  (change)="filterByDatabase($event.target.value)">
            <option selected value="">all databases</option>
            <option  *ngFor="let item of databases" [value]="item._id" [selected]="selectedDatabase == item._id">
            {{item.name}} ({{item.projects}})
            </option>
          </select>
        </div>

      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-light" (click)="reset()">reset</button>
    </div>
  </div>


  <table class="table table-bordered table-striped ic4f-projects">
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">project</th>
      <th class="text-center">years</th>
      <th class="text-center">description</th>
      <th class="text-center">languages</th>
      <th class="text-center">frameworks</th>
      <th class="text-center">databases</th>
      <th class="text-center">code</th>
    </tr>
    <tr *ngFor="let p of projects; let i=index" id="{{p._id}}">

      <ng-container *ngIf="!displayedProjects.has(p._id)">
        <td class="text-center">{{i+1}}</td>
        <td [innerHtml]="getName(p)"></td>
        <td class="text-center cell-years">{{ p.year_start | yearSpan: p.year_end }}</td>
        <td>
          {{ p.description }}
          <button (click)="showDetail(p._id)" class="btn btn-link showmore" *ngIf="p.has_content">show more</button>
        </td>
        <td [innerHtml]="listLanguages(p)"></td>
        <td class="text-center">{{ listFrameworks(p) }}</td>
        <td class="text-center">{{ listDatabases(p) }}</td>
        <td class="text-center align-middle cell-codelink" [innerHtml]="getCodeLink(p)"></td>
      </ng-container>

      <ng-container *ngIf="displayedProjects.has(p._id)">
        <td class="text-center cell-project-detail-num">{{i+1}}</td>
        <td colspan="7" class="cell-project-detail ic4f-project-detail">
          <app-project-detail [project]="p" (closeRequest)="hideDetail($event)"></app-project-detail>
        </td>
      </ng-container>

    </tr>
  </table>

</ng-container>
