.foo42 {
  font-size: .8em;
  color: #777;
}

.test42 {
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: .9em;
}

.test43 {
}

.test44 {
  font-size: .8em;

}

.test45 {
  display: block;
    text-align:right;
      line-height: 1em;
}

.test99 {
  margin-bottom: 1em;
}

