<div class="container">

  <div class="row ic4f-top-row">
    <div class="col-sm-4 ic4f-logo">
      <a href="/">i<span class="part-c">c</span><span class="part-ode">ode</span>4<span class="part-dot">.</span>f<span class="part-un">un</span></a>
    </div>
    <div class="col-sm-8">
      <nav class="ic4f-nav">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">blog</a>
        <a routerLink="projects" routerLinkActive="active">projects</a>
        <a routerLink="about" routerLinkActive="active">about</a>
        <a href="http://sergey.cs.uni.edu">edu</a>
        <a href="https://github.com/ic4f">github</a>
      </nav>
    </div>
  </div>

</div>

<div class="ic4f-hline"></div>

<div class="container">
  <div class="row">
    <div class="col ic4f-content">
      <h1 class="ic4f-main-heading">{{ title }}</h1>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<div class="ic4f-hline"></div>

<div class="container">
  <div class="row">
    <div class="col ic4f-footer"></div>
  </div>
</div>
